In [1]:
#import libraries
import pandas as pd
import numpy as np
import json
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pickle

In [2]:
#import vehicle dataset
clean_df = pd.read_csv('data/out.csv')

In [3]:
#copy data to car_df
car_df = clean_df.copy()

In [4]:
#Drop the columns that we will not be using to build models.
car_df = car_df.drop(columns=['model', 'posting_date'])

In [5]:
#convert price range to integers 1 - 7
car_df['price_range_int'] = car_df['price_range'].replace(to_replace=['<1K', '1K-5K', '5K-10K','10K-15K','15k-30K','30K-50K','>50K'], value=[1, 2, 3, 4, 5, 6, 7], inplace=False)
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137526 entries, 0 to 137525
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   price             137526 non-null  int64
 1   manufacturer      137526 non-null  object
 2   cylinders         137526 non-null  int64
 3   fuel              137526 non-null  object
 4   odometer          137526 non-null  float64
 5   title_status      137526 non-null  object
 6   state             137526 non-null  object
 7   price_range       137526 non-null  object
 8   drive_new         137526 non-null  object
 9   condition_new     137526 non-null  object
 10  transmission_new  137526 non-null  object
 11  type_new          137526 non-null  object
 12  paint_color_new   137526 non-null  object
 13  car_Age_in_yrs    137526 non-null  float64
 14  price_range_int   137526 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 15.7+ MB

In [6]:
#copy tx records to a new df
tx_df = car_df[car_df['state'] == 'tx']

In [7]:
#check that all categories are represented
tx_df['price_range'].value_counts()

15k-30K    1900
5K-10K     1529
1K-5K      1224
10K-15K    1078
30K-50K     764
<1K         135
>50K         19
Name: price_range, dtype: int64

In [8]:
#check manufacturers
tx_df['manufacturer'].value_counts()

ford             1205
chevrolet        1091
toyota            588
nissan            458
honda             318
gmc               298
ram               289
dodge             246
jeep              234
bmw               210
volkswagen        191
hyundai           189
mercedes-benz     138
kia               123
lexus             118
cadillac           96
subaru             91
infiniti           86
buick              83
chrysler           82
mazda              78
mitsubishi         50
lincoln            50
audi               47
acura              46
volvo              45
mini               40
rover              35
pontiac            32
mercury            26
fiat               23
porsche            16
jaguar             14
saturn             11
alfa-romeo          2
Name: manufacturer, dtype: int64

In [9]:
#sample 100 records
tx_df250 = tx_df.sample(n=250, weights='price_range_int', random_state=42)
tx_df250['price_range'].value_counts()

15k-30K    79
30K-50K    54
5K-10K     47
10K-15K    42
1K-5K      25
<1K         2
>50K        1
Name: price_range, dtype: int64

In [10]:
#export to json for documentdb
tx_df250.to_json(r'car_samples.json', orient='records')

In [11]:
#set up engine to export to sql lite
engine = create_engine('sqlite:///car_samples.db', echo=True)
sqlite_connection = engine.connect()

2021-02-24 16:03:46,518 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-24 16:03:46,519 INFO sqlalchemy.engine.base.Engine ()
2021-02-24 16:03:46,521 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-24 16:03:46,522 INFO sqlalchemy.engine.base.Engine ()

In [12]:
#export to sql
sqlite_table = "cars"

In [20]:
tx_df250.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-02-23 21:05:23,174 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("cars")
2021-02-23 21:05:23,175 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 21:05:23,179 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("cars")
2021-02-23 21:05:23,181 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 21:05:23,187 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cars (
	"index" BIGINT,
	price BIGINT,
	manufacturer TEXT,
	cylinders BIGINT,
	fuel TEXT,
	odometer FLOAT,
	title_status TEXT,
	state TEXT,
	price_range TEXT,
	drive_new TEXT,
	condition_new TEXT,
	transmission_new TEXT,
	type_new TEXT,
	paint_color_new TEXT,
	"car_Age_in_yrs" FLOAT,
	price_range_int BIGINT
)


2021-02-23 21:05:23,189 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 21:05:23,212 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-23 21:05:23,215 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_cars_index ON cars ("index")
2021-02-23 21:05:23,217 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 21:05:23,232 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-23 21:05:23,237 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-23 21:05:23,249 INFO sqlalchemy.engine.base.Engine INSERT INTO cars ("index", price, manufacturer, cylinders, fuel, odometer, title_status, state, price_range, drive_new, condition_new, transmission_new, type_new, paint_color_new, "car_Age_in_yrs", price_range_int) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-23 21:05:23,251 INFO sqlalchemy.engine.base.Engine ((114835, 10995, 'chevrolet', 8, 'gas', 218132.0, 'clean', 'tx', '10K-15K', 'rwd', 'good_fair', 'Automatic', 'van', 'BlSlvrWhGryMsng', 3.0, 4), (118686, 10998, 'kia', 4, 'gas', 48502.0, 'clean', 'tx', '10K-15K', 'fwd', 'excellent_likenew', 'Automatic', 'sedan', 'BluRdBrwn', 4.0, 4), (117352, 27990, 'ram', 6, 'other', 27241.0, 'clean', 'tx', '15k-30K', '4wd', 'good_fair', 'Other', 'pickup_truck', 'BluRdBrwn', 3.0, 5), (116406, 33990, 'ford', 8, 'gas', 18175.0, 'clean', 'tx', '30K-50K', 'fwd', 'good_fair', 'Automatic', 'pickup_truck', 'BluRdBrwn', 4.0, 6), (113365, 14990, 'ford', 6, 'other', 85662.0, 'clean', 'tx', '10K-15K', 'fwd', 'good_fair', 'Other', 'pickup_truck', 'BlSlvrWhGryMsng', 9.0, 4), (113364, 2995, 'chevrolet', 8, 'gas', 17300.0, 'clean', 'tx', '1K-5K', 'rwd', 'good_fair', 'Automatic', 'crossover', 'BluRdBrwn', 17.0, 2), (112724, 5995, 'infiniti', 6, 'gas', 168503.0, 'clean', 'tx', '5K-10K', 'rwd', 'excellent_likenew', 'Automatic', 'sedan', 'BlSlvrWhGryMsng', 14.0, 3), (118199, 32000, 'infiniti', 8, 'gas', 116113.0, 'clean', 'tx', '30K-50K', '4wd', 'excellent_likenew', 'Automatic', 'crossover', 'BlSlvrWhGryMsng', 4.0, 6)  ... displaying 10 of 250 total bound parameter sets ...  (114927, 6000, 'fiat', 4, 'gas', 68000.0, 'clean', 'tx', '5K-10K', 'fwd', 'excellent_likenew', 'Manual', 'coupe', 'BluRdBrwn', 5.0, 3), (118100, 34990, 'chevrolet', 4, 'gas', 10396.0, 'clean', 'tx', '30K-50K', 'fwd', 'good_fair', 'Other', 'pickup_truck', 'BlSlvrWhGryMsng', 1.0, 6))
2021-02-23 21:05:23,256 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
#close the connection
sqlite_connection.close()

In [14]:
#create a dataset from the remaining TX samples
#drop all columns except manufacturer, age, and odometer
test_mdl = tx_df[['manufacturer', 'car_Age_in_yrs', 'odometer','price']].copy()

In [15]:
test_mdl.head()

       manufacturer  car_Age_in_yrs  odometer  price
112329        mazda            13.0  151300.0   2895
112330        honda             7.0   64370.0   8100
112331          gmc            11.0   52800.0  15000
112332        honda            12.0  179000.0   3995
112333         ford            17.0   75900.0   5900

In [16]:
#one hot encode
test_mdl_ohe = pd.get_dummies(test_mdl[['manufacturer', 'car_Age_in_yrs', 'odometer','price']], drop_first=True)
test_mdl_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6649 entries, 112329 to 137291
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   car_Age_in_yrs              6649 non-null   float64
 1   odometer                    6649 non-null   float64
 2   price                       6649 non-null   int64
 3   manufacturer_alfa-romeo     6649 non-null   uint8
 4   manufacturer_audi           6649 non-null   uint8
 5   manufacturer_bmw            6649 non-null   uint8
 6   manufacturer_buick          6649 non-null   uint8
 7   manufacturer_cadillac       6649 non-null   uint8
 8   manufacturer_chevrolet      6649 non-null   uint8
 9   manufacturer_chrysler       6649 non-null   uint8
 10  manufacturer_dodge          6649 non-null   uint8
 11  manufacturer_fiat           6649 non-null   uint8
 12  manufacturer_ford           6649 non-null   uint8
 13  manufacturer_gmc            6649 non-null   uint8
 14  manufacturer_honda          6649 non-null   uint8
 15  manufacturer_hyundai        6649 non-null   uint8
 16  manufacturer_infiniti       6649 non-null   uint8
 17  manufacturer_jaguar         6649 non-null   uint8
 18  manufacturer_jeep           6649 non-null   uint8
 19  manufacturer_kia            6649 non-null   uint8
 20  manufacturer_lexus          6649 non-null   uint8
 21  manufacturer_lincoln        6649 non-null   uint8
 22  manufacturer_mazda          6649 non-null   uint8
 23  manufacturer_mercedes-benz  6649 non-null   uint8
 24  manufacturer_mercury        6649 non-null   uint8
 25  manufacturer_mini           6649 non-null   uint8
 26  manufacturer_mitsubishi     6649 non-null   uint8
 27  manufacturer_nissan         6649 non-null   uint8
 28  manufacturer_pontiac        6649 non-null   uint8
 29  manufacturer_porsche        6649 non-null   uint8
 30  manufacturer_ram            6649 non-null   uint8
 31  manufacturer_rover          6649 non-null   uint8
 32  manufacturer_saturn         6649 non-null   uint8
 33  manufacturer_subaru         6649 non-null   uint8
 34  manufacturer_toyota         6649 non-null   uint8
 35  manufacturer_volkswagen     6649 non-null   uint8
 36  manufacturer_volvo          6649 non-null   uint8
dtypes: float64(2), int64(1), uint8(34)
memory usage: 428.5 KB

In [17]:
#set X and y
y = test_mdl_ohe['price'].values.reshape(-1, 1)
del test_mdl_ohe['price']
X = test_mdl_ohe.values

In [18]:
#check X and y
print(len(X))
print(len(y))

6649
6649

In [19]:
#split into a test/train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
#scale X
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_sc = X_scaler.transform(X_train)
X_test_sc = X_scaler.transform(X_test)
y_train_sc = y_scaler.transform(y_train)
y_test_sc = y_scaler.transform(y_test)

In [21]:
#linear regression model
model = LinearRegression()
model.fit(X_train_sc, y_train_sc)

LinearRegression()

In [22]:
#get mse
predictions = model.predict(X_test_sc)
MSE = mean_squared_error(y_test_sc, predictions)
r2 = model.score(X_test_sc, y_test_sc)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.5153958841708131, R2: 0.44934814730399286

In [23]:
#make a new prediction - need to figure out how to call the model with a manufacturerabs
new_pred = np.array(['manufacturer_honda', 14, 129000]).reshape((-1, 1))
y_pred = model.predict(new_pred)
#new_pred.shape

C:\Users\Kristi\Anaconda3\envs\ml\lib\site-packages\sklearn\utils\validation.py:72: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  return f(**kwargs)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 36 is different from 1)

In [24]:
#simplified
#create a dataset from the remaining TX samples
#drop all columns except manufacturer, age, and odometer
test_mdl = tx_df[['car_Age_in_yrs', 'odometer','price']].copy()
y = test_mdl['price'].values.reshape(-1, 1)
del test_mdl['price']
X = test_mdl.values

In [25]:
#split into a test/train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

#scale X
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_sc = X_scaler.transform(X_train)
X_test_sc = X_scaler.transform(X_test)
y_train_sc = y_scaler.transform(y_train)
y_test_sc = y_scaler.transform(y_test)

In [26]:
#linear regression model
model = LinearRegression()
model.fit(X_train_sc, y_train_sc)

LinearRegression()

In [27]:
training_score = model.score(X_train_sc, y_train_sc)
testing_score = model.score(X_test_sc, y_test_sc)
print(training_score)
print(testing_score)

0.33942668610367543
0.3267412649608039

In [28]:
mean_squared_error(y_test_sc, model.predict(X_test_sc))

0.6301527531821663

In [29]:
#make a new prediction 
new_pred = np.array([14, 129000]).reshape((1, -1))
y_pred = model.predict(new_pred)
y_pred

array([[-44927.2977506]])

In [30]:
# Save the mode
filename = '../web/static/ml_model/lr.pkl'
pickle.dump(model, open(filename, 'wb'))

In [31]:
# Load model and make a prediction
model = pickle.load(open('../web/static/ml_model/lr.pkl','rb'))
prediction = model.predict(new_pred)
print(prediction)

[[-44927.2977506]]

In [34]:
prediction_list = np.array(prediction).tolist()
prediction_value = round(prediction_list[0][0],1)
print(prediction_value)

-44927.3